	* {
 	 box-sizing: border-box;
        }

	h1 {
 	 font-family: "Poppins", sans-serif;
         font-size: 48px;
	 font-weight: 400;
	 line-height: 1.05;
	 letter-spacing: -1.2px;
	 color: #A5AFB6;
	}	
	h2 {
	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 font-size: 32px;
	 line-height: 1.4;
	 letter-spacing: -1.2px;
	 color: #A5AFB6;
	}
	h3 {
 	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 letter-spacing: -1.2px;
	 font-size: 24px;
	 line-height: 1.5;
	}
	h4 {
 	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 letter-spacing: -0.5px;
	 font-size: 18px;
	 line-height: .95;
	 margin-block-start: 40px;
	 margin-block-end: 8px;
	}
	.subhead {
	color: #828F95;
	}
	body {
 	 font-family: "Inter", sans-serif;
	 font-weight: 400;
	 background-color: #fffaf5;
 	 line-height: 1.8;
	 margin: 0px auto;
	}
	header{
 	 padding: 20px;
	 max-height: 180px;
  	 width: 100%;
 	 background-color: #828F95;
  	}
	a {
  	  color: #6D8FA1;
          text-decoration: none;
	}
        li a {
          display: block;
          color: black;
          text-align: center;
          padding: 12px;
          text-decoration: none;
        }
        li a:hover {
          background-color: #FDF6EF;
        }
        ul {
         list-style-type: none;
         margin: 0;
	 margin-left: 16px;
         padding: 0;
         overflow: hidden;
	}
        li {
	 float: left;
        }
	hr {
         height: 1px;
  	 border: 0;
  	 border-top: 1px solid #000;
	 width: 100%;
	}
	.footer {
         width: 100%;
	 padding-left: 12px;
	 padding-top: 32px;
	 color: #828F95;
	}
	.image {
	width: 196px;
	}
	.portfolio {
	max-width: 960px;
	width: 100%;
	padding-bottom: 40px; 
	}
	.button {
         color: white;
	 background-color: #232425;
	 padding: 10px 24px;
	 border: none;
	 border-radius: 24px;
         text-align: center;
         text-decoration: none;
         cursor: pointer;
         }
        .button:hover {
	 background-color: black;
	 color: white;
        }
	.columnleft {
	 float: left;
	 padding: 24px 56px 32px 24px;
	 width: 50%;
	 max-width: 600px;
	}
	.columnright {
	 float: left;
	 padding: 24px 24px 32px 24px;
	 width: 50%;
	}
	.columnfull {
	float: left;
	width: 100%;
	padding: 24px;
	}
	.logo-section {
	display: flex;
        align-items: center;
        justify-content: center;
	}
	.logo-row {
	margin: 0px auto;
	padding: 16px;
	}
	.logo {
	width: 100%;
	}
	.row:after {
  	 content: "";
  	 display: table;
  	 clear: both;
	}
	.spacer {
	 padding-bottom: 24px;
	}
	@media screen and (max-width: 800px) {
 	 .columnleft {
	padding: 24px 24px 32px 24px;
    	width: 100%;
  	}
	.columnright {
    	width: 100%;
  	}
        .portfolio {
	width: 100%;
	}
	}
