	* {
 	 box-sizing: border-box;
        }

	h1 {
 	 font-family: "Poppins", sans-serif;
         font-size: 3.75em;
	 font-weight: 400;
	 line-height: 1.15em;
	 letter-spacing: -0.025em;
	 margin: 0em 0 0.25em;
	 color: #8e8282;
	}	
	h2 {
	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 font-size: 2.5em;
	 line-height: 1.2em;
	 letter-spacing: -0.025em;
	 margin: 0em 0 0.5em;
	 color: #232425;
	}
	h3 {
 	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 letter-spacing: -0.025em;
	 font-size: 2em;
	 line-height: 1.3em;
	 margin: 0 0 0.5em;
	 color: #232425;
	}
	h4 {
 	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 letter-spacing: -0.025em;
	 font-size: 1.1em;
	 line-height: 1.4em;
	 margin: 0 0 1em;
	 color: #303030;
	}
    h5 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.8em;
    margin: 0 0 0.2em;
	letter-spacing: 0.125em;
	color: #303030;
	}
    p {
    margin: 8px 0px 32px 0px;
    }
    body {
     font-family: "Inter", sans-serif;
     font-size: 1em;
     font-weight: 400;
     background-color: #FAFAFA;
     line-height: 1.675em;
     color: #303030;
     margin: 0px auto;
    }
    .container {
    max-width: 1240px;
    margin: 0px auto;
    padding-top: 40px;
    }
   .mission {
    max-width: 680px;
    }
	header {
  	 width: 100%;
 	 background-color: #FAFAFA;
  	}
	a {
    color: #6D8FA1;
    text-decoration: none;
	}
    .button {
    color: white;
    font-weight: 400;
	font-size: 0.8em;
	letter-spacing: 0.125em;
    text-transform: uppercase;
    background: black;
    padding: 12px 24px;
    border-radius: 24px;
    }
    .topnav {
    overflow: hidden;
    padding: 12px 0px 0px 0px;
    max-width: 1240px;
    margin: 0px auto;
    }
    .topnav a {
     float: left;
     display: block;
     color: #303030;
     padding: 8px 16px;
     text-align: center;
     text-transform: uppercase;
	 font-weight: 500;
	 font-size: 0.8em;
	 letter-spacing: 0.175em;
     text-decoration: none;
    }
    .topnav a:hover {
    text-decoration: underline;
    }
    .topnav a.split {
    float: right;
    padding: 16px;
	}
    .topnav .icon {
    display: none;
    }
	.footer {
     width: 100%;
	 padding-left: 24px;
	 padding-top: 32px;
	 color: #828F95;
	 font-size: 14px;
	}
	.image {
	width: 172px;
	}
	.portfolio {
	max-width: 920px;
	width: 100%;
	border-radius: 24px; 
	}
    .feature-image {
    padding-bottom: 24px; 
    }
	.column-article {
	 float: left;
	 padding: 24px 56px 24px 24px;
	 width: 50%;
	}
	.column-portfolio {
	 float: left;
	 padding: 16px 24px;
	 width: 50%;
	}
	.menu {
	padding: 32px 24px;
	}
    .menu a {
    color: #303030;
    }
    .menu hr {
     height: 1px;
  	 border: 0;
  	 border-top: 1px solid #e4e4e4;
	 width: 100%;
     margin: 32px 0px;
    }
	.logo-section {
	display: flex;
    align-items: center;
    justify-content: center;
	}
	.logo-row {
	margin: 0px auto;
	padding: 12px;
	}
	.logo {
	width: 100%;
	padding-bottom: 12px;
	}
	.row:after {
  	 content: "";
  	 display: table;
  	 clear: both;
	}
	.spacer {
	 padding-bottom: 16px;
	}
	@media screen and (max-width: 800px) 
	{
	.column-article {
	padding: 8px 24px;
    width: 100%;
  	}
	.column-portfolio {
    padding: 8px 0px;
	width: 100%;
  	}
	.column-menu {
    padding: 24px 32px;
	}
    .mission {
    padding: 24px;        
    }
    .portfolio {
	width: 100%;
    padding-bottom: 8px;
    border-radius: 0px;
    }
    .image {
    width: 120px;
    }
    .topnav a {
    padding-top: 0px;
    }
    .button {
    display: block;
    width: 100%;
    text-align: center;
    }
   }
   @media screen and (max-width: 640px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 20px;
   }
   }    

    @media screen and (max-width: 640px){
   .topnav.responsive {position: relative;}
   .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 12px;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    }

