	* {
 	 box-sizing: border-box;
        }

	h1 {
 	 font-family: "Poppins", sans-serif;
         font-size: 48px;
	 font-weight: 400;
	 line-height: .95;
	 letter-spacing: -1.2px;
	 color: #A5AFB6;
	}	
	h2 {
	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 font-size: 32px;
	 line-height: 1.4;
	 letter-spacing: -1.2px;
	 color: #A5AFB6;
	}
	h3 {
 	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 letter-spacing: -1.2px;
	 font-size: 24px;
	 line-height: 1.5;
	}
	body {
 	 font-family: "Inter", sans-serif;
	 font-weight: 400;
	 background-color: #fffaf5;
 	 line-height: 1.8;
	 margin: 0em;
	}
	header{
 	 padding: 20px;
	 max-height:188px;
  	 width: 100%;
 	 background-color: #000000;
  	}
	a {
  	  color: #6D8FA1;
          text-decoration: none;
	}
        li a {
          display: block;
          color: black;
          text-align: center;
          padding: 12px;
          text-decoration: none;
        }
        li a:hover {
          background-color: #FDF6EF;
        }
        ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
	}
        li {
	 float: left;
        }
	.footer {
         width: 100%;
	 padding: 1px 1px 1px 12px;
	 background-color: #FDF6EF;
	 color: #000;
	}
	.image {
	width: 204px;
	}
	.portfolio {
	max-width: 640px;
	width: 100%;
	}
	.button {
         color: white;
	 background-color: #232425;
	 padding: 10px 24px;
	 border: none;
	 border-radius: 24px;
         text-align: center;
         text-decoration: none;
         cursor: pointer;
         }
        .button:hover {
	 background-color: black;
	 color: white;
        }
	.columnleft {
	 float: left;
	 padding: 24px 48px 32px 24px;
	 width: 50%;
	 max-width: 640px;
	}
	.columnright {
	 float: left;
	 padding: 24px 48px 32px 24px;
	 width: 50%;
	}
	.row:after {
  	 content: "";
  	 display: table;
  	 clear: both;
	}
	.spacer {
	 padding: 2px;
	}
	.spacerbig {
	padding: 12px;
	}
	@media screen and (max-width: 800px) {
 	 .columnleft {
    	width: 100%;
  	}
	.columnright {
    	width: 100%;
  	}
        .portfolio {
	width: 100%;
	}
	}
